.text-icon  {
    width: max-content;
    display: grid; 
    grid-template-columns: 21px auto;
    column-gap: 12px;

    &.reverse {
        grid-template-columns: auto 21px;
    }

    svg{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    p {
        width: max-content;
    }
}