#secondary-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    height: 120px;
    
    h1{
        color: var(--black);
    }

    p{
        color: var(--blue);
    }
}