.sharing-zone {


.card-zone{

    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;

    margin-left: 64px;
    margin-right: 64px;

    .card {
    padding: 2rem; 
    margin-top: 1rem;

    h2 {
      padding-bottom:12px;
     }
  
     .text-icon {
       padding-top: 12px;
       color: var(--green);
     }

  } 
 } 
}




