.nav-search {
    display: grid;
    grid-template-columns: 1fr 0fr 0fr;
    gap: 10px;

    padding :20px

}

.sharing-zone .card {
   width: 615px; 
   padding: 15px; 
   margin-left: 20px;

    h2 {
     padding-bottom:12px;
    }

    p {
     padding-bottom:12px
    }
}


