#dashboard {

    padding-inline:4rem ;
    display : grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 500px;
    gap: 2rem ;


    .link-to {
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--green);
    }

    .card {
        display: grid;
        grid-template-rows: auto auto;
        place-items: center;
        row-gap: 2rem;
        padding: 3rem 2rem;

        .first-group {
            display: grid;
            grid-template-rows: auto auto;
            place-items: center;
    
            .icon {
                margin-bottom: 40px;
            }
    
            .main-title {
                text-align: center;
                font-size: 25px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 1.25px;
                color: var(--black);
                
            }
       }

       .text-icon {
        color: var(--green);

        svg path {
            fill: var(--green);
        }
       }
    }

    #stats-card {
        grid-column: span 2;
    }

}
    



